<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aution</title>
    <link rel="stylesheet" href="../static/css/css.css">
</head>
<body>
<header></header>
<div id="main">
    <div id="sidebar">
        <nav>
            <ul id='sidebarul'>
                <li>Home</li>
                <li>About</li>
                <li>Portfolio</li>
                <li>Blog</li>
                <li>Contact</li>

            </ul>
        </nav>
    </div>
    <div id='mainimg'>
        <img src="/img/hammer.jpg" alt="MainImage">
    </div>
    <div id='maintext'>Welcome to Auction</div>
    <div id="mainsubtext">
        <p>Auction</p>
        <p>This is where you take new recruits to auction.</p>
    </div>
</div>
<footer></footer>

<!--<div class="board_wrap">-->
<!--    <div class="board_title">-->
<!--        <strong>자유 게시판</strong>-->
<!--    </div>-->
<!--    <div class="login" style="position: absolute; right: 20px; top: 20px;">-->
<!--        <a href="login.html" class="on">로그인</a>-->
<!--    </div>-->
<!--    <div class="board_list_wrap">-->
<!--        <div class="board_list">-->
<!--            <div class="top">-->
<!--                <div class="num">번호</div>-->
<!--                <div class="title">제목</div>-->
<!--                <div class="writer">글쓴이</div>-->
<!--                <div class="date">작성일</div>-->
<!--                <div class="count">조회</div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <div class="num"></div>-->
<!--                <div class="title"><a href="view.html"></a></div>-->
<!--                <div class="writer"></div>-->
<!--                <div class="date"></div>-->
<!--                <div class="count"></div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <div class="num"></div>-->
<!--                <div class="title"><a href="view.html"></a></div>-->
<!--                <div class="writer"></div>-->
<!--                <div class="date"></div>-->
<!--                <div class="count"></div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <div class="num"></div>-->
<!--                <div class="title"><a href="view.html"></a></div>-->
<!--                <div class="writer"></div>-->
<!--                <div class="date"></div>-->
<!--                <div class="count"></div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <div class="num"></div>-->
<!--                <div class="title"><a href="view.html"></a></div>-->
<!--                <div class="writer"></div>-->
<!--                <div class="date"></div>-->
<!--                <div class="count"></div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <div class="num"></div>-->
<!--                <div class="title"><a href="view.html"></a></div>-->
<!--                <div class="writer"></div>-->
<!--                <div class="date"></div>-->
<!--                <div class="count"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="board_page">-->
<!--            <a href="#" class="bt first"><<</a>-->
<!--            <a href="#" class="bt prev"><</a>-->
<!--            <a href="#" class="num on">1</a>-->
<!--            <a href="#" class="num">2</a>-->
<!--            <a href="#" class="num">3</a>-->
<!--            <a href="#" class="num">4</a>-->
<!--            <a href="#" class="num">5</a>-->
<!--            <a href="#" class="bt next">></a>-->
<!--            <a href="#" class="bt last">>></a>-->
<!--        </div>-->
<!--        <div class="bt_wrap">-->
<!--            <a href="write.html" class="on">등록</a>-->
<!--            &lt;!&ndash;<a href="#">수정</a>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>