<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.j.mapper.adminMapper">
    <select id="getAdminList" resultType="com.example.j.vo.adminVO">	<!-- id: mapper 인터페이스에서 선언한 메서드 이름과 같아야 한다. resultType: VO 클래스가 위치하는 경로 -->
        SELECT *
        FROM `admin`
        <!-- SQL문 작성 -->
    </select>
    <select id="getUser" resultType="com.example.j.vo.userVO">
        SELECT *
        FROM `user`
    </select>
    <delete id="deleteUser" parameterType="com.example.j.vo.userVO">
        DELETE
        FROM `user`
        WHERE userId = #{userId}
    </delete>
    <select id="getList" resultType="com.example.j.vo.listVO">
        SELECT *
        FROM `list`
    </select>
</mapper>