<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.j.mapper.adminMapper">
    <select id="getAdminList" resultType="com.example.j.vo.adminVO">	<!-- id: mapper 인터페이스에서 선언한 메서드 이름과 같아야 한다. resultType: VO 클래스가 위치하는 경로 -->
        SELECT *
        FROM `admin`
        <!-- SQL문 작성 -->
    </select>
    <select id="getUser" resultType="com.example.j.vo.userVO">
        SELECT *
        FROM `user`
    </select>
    <delete id="deleteUser" parameterType="com.example.j.vo.userVO">
        DELETE
        FROM `user`
        WHERE userId = #{userId}
    </delete>
    <select id="getList" resultType="com.example.j.vo.listVO">
        SELECT *
        FROM `list`
    </select>

    <delete id="deleteList" parameterType="com.example.j.vo.listVO">
        DELETE
        FROM `list`
        WHERE title = #{title}
    </delete>

    <select id="getAdminById" resultType="com.example.j.vo.adminVO">
        SELECT *
        FROM `admin`
        WHERE id = #{id}
    </select>


    <resultMap type="com.example.j.vo.companyVO" id="companyVO">
        <result column="comName" property="comName"/>
        <result column="comAddress" property="comAddress"/>
    </resultMap>
    <resultMap type="com.example.j.vo.hrVO" id="hrVO">
        <result column="hrId" property="hrId"/>
        <result column="hrName" property="hrName"/>
        <result column="hrPhNum" property="hrPhNum"/>
        <result column="hrEmail" property="hrEmail"/>
        <collection property="companyVo" resultMap="companyVO"/>
    </resultMap>

    <select id="getHrWithCname" resultMap="hrVO">
        SELECT  h.* , c.comName, c.comAddress
        FROM
            `hr` h
                LEFT JOIN
            `company` c
            ON c.comNum=h.comNum
    </select>


</mapper>